/* .pdfContainer {
  background-color: white;
  width: "100%";
  height: "";
  overflow-y: hidden;
  display: flex;
  justify-content: center; 
  align-items: center;
} */
.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #cc0000;
}