@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@1000&display=swap");

.main-container {
  background-image: url("../../Assets/6256458.jpg");
  background-size: cover;
  width: 100%;
  background-attachment: fixed;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.top-side {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  z-index: 500;
  height: 100vh;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

.main-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.main-container {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.navbar {
  color: aliceblue;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1rem;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  z-index: 1000;
}

.original-banner{
  display: flex;
  flex-direction:row;
  flex: 1;
  height: 100%;
}

.welcome-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  text-align: center;
  flex: 1;
}

.other-banner{
  flex: 1;
}

.bigVast {
  font-size: 72pt;
  /* font-family: "Nunito"; */
  font-weight: 900;
  color: white;
}

.below-bigvast {
  color: white;
  width: 50%;
  font-size: small;
}

/* after-banner */

.after-banner {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: rgb(226, 177, 0);
}



.after-banner-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  text-align:justify;
  flex: 1;  
}

.land-card{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 3%;
  gap: 10%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.land-card::-webkit-scrollbar {
  display: none;
}

.books{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  z-index: 450;
  padding: 2%;
  text-align: center;
}

.all-books{
  display: flex;
  gap: 3%; 
  flex-wrap: wrap;
  padding: 3%;
  justify-content: center;
}

.pre-books{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  z-index: 490;
}

.land-footer{
  background-color: rgb(207, 203, 203);
  padding: 2rem;
}

@media only screen and (max-width: 500px) {
  .after-banner-section {
    flex-direction: column;
  }

  .original-banner{
    flex-direction: column;
  }
}
